{% block image_converter_widget %}
	{{form_errors(form)}}
	<div>
		{% for fields in form %}
			{% if (fields.vars.name is not same as 'original_file' and fields.vars.block_prefixes[1] is not same as 'hidden') %}
				{{form_label(fields)}}
				{{form_widget(fields)}}<br>
			{% endif %}
		{% endfor %}
		{% if image_url is not null %}
			<img src="{{ image_url }}" width="{{ width }}" height="{{ height }}"/>
			{% if original %}
				The original file also exists.
			{% endif %}
		</div>
	{% endif %}
	{% if use_js %}
		<script src="{{asset('/bundles/imageconverter/image_converter.js')}}"></script>
	{% endif %}
{% endblock %}
